.App {
  padding: 10px 1rem;
}

.App-header {
  color: #FCD900;
  font-size: 50px;
}

.card-container {
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 17px );
  -webkit-backdrop-filter: blur( 17px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

  /* grid-gap: 15px; */
  overflow: hidden;
  
  
  max-width: 937px;
  margin: 0px auto;
  padding: 10px;
}

